<!DOCTYPE html>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<link href="/css/cart.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
<h1>Hello Cart</h1>

<nav class="buttons">
    <a href="/" class="button">🏠 Sākums</a>
    <a href="/catalog" class="button">📖 Katalogs</a>
    <a href="/cart" class="button">🛒 Grozs</a>
    <a href="/add" class="button">➕ Pievienot</a>
    <a href="/delete" class="button">➖ Izdzēst</a>
    <a href="/change" class="button">✍️ Mainīt</a>
</nav>
</body>
</html>