<!DOCTYPE HTML>
<html lang="lv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<div>
    <h1>A.B.S.</h1>
    <h3>Author Book Store</h3>
</div>

<nav class="buttons">
    <a href="/" class="button">🏠 Sākums</a>
    <a href="/catalog" class="button">📖 Katalogs</a>
    <a href="/add" class="button">➕ Pievienot</a>
    <a href="/delete" class="button">➖ Izdzēst</a>
    <a href="/change" class="button">✍️ Mainīt</a>
</nav>
</body>
</html>
